<configuration>
   <system.webServer>
<rewrite>
  <!--このディレクティブは、IIS がサポートしていないため、変換されませんでした: RewriteBase /。-->
  <rules>
    <rule name="インポートされた規則 1" stopProcessing="true">
      <match url=".*" ignoreCase="false" />
      <conditions>
        <add input="{URL}" pattern="\..+$" ignoreCase="false" />
        <add input="{URL}" pattern="\.html$" ignoreCase="false" negate="true" />
      </conditions>
      <action type="None" />
    </rule>
    <rule name="インポートされた規則 2">
      <match url="^$" ignoreCase="false" />
      <action type="Rewrite" url="index.html" appendQueryString="true" />
    </rule>
    <rule name="インポートされた規則 3">
      <match url="^([^.]+)$" ignoreCase="false" />
      <action type="Rewrite" url="{R:1}.html" appendQueryString="true" />
    </rule>
    <rule name="インポートされた規則 4" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.php" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>

   </system.webServer>
</configuration>